# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
MemoryCaptures/

# VS/IDE
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS
.DS_Store
*.swp

# Logs
*.log
